<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet"> 
<link href="https://iosevka-webfonts.github.io/iosevka-fixed/iosevka-fixed.css" rel="stylesheet" />
<link href="https://iosevka-webfonts.github.io/iosevka-curly/iosevka-curly.css" rel="stylesheet" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />

<style>
  :root {
    --font-code: "Iosevka Fixed Web", monospace;
    --font-content: "Iosevka Curly Web", serif;
    --font-title: "IBM Plex Sans Condensed", sans-serif; 
</style>
